<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Portfolio</title>
</head>


<body>
 <div class="qobiq"> 
  <div class="frame"> 
     <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
                <img 
                 src="images/profile.png"
                 alt="profile-image" 
                 width="156px" 
                 height="142px">
            </div>
            <div class="left_1-2"> <%=user.name%> </div>
            <div class="left_1-3"> <%=user.profession%> </div>
            <div class="left-icons">
                <a class="link_href" href="">
                    <div class="icon">
                       <img src="icon/facebook.svg" alt="icon" class="icon-1" />
                    </div>
                </a>
                <a class="link_href" href="">
                    <div class="icon">
                       <img src="icon/instagram.svg" alt="icon" class="icon-1" />
                    </div>
                </a>
                <a class="link_href" href="">
                    <div class="icon">
                       <img src="icon/twitter.svg" alt="icon" class="icon-1" />
                    </div>
                </a>
                <a class="link_href" href="">
                    <div class="icon">
                       <img src="icon/linkedin.svg" alt="icon" class="icon-1" />
                    </div>
                </a>
                <a class="link_href" href="">
                    <div class="icon">
                       <img src="icon/Youtube.svg" alt="icon" class="icon-1" />
                    </div>
                </a>
                <a class="link_href" href="">
                    <div class="icon">
                       <img src="icon/dribbble.svg" alt="icon" class="icon-1" />
                    </div>
                </a>
            </div>
          </div>
          <div class="marginer"></div>
          
          <div class="left_2">
            <div class="left_2-1"> 
                <div class="txt-group" >
                    <p class="marked-1">Age:</p>
                     <p class="txt-1">24</p>
                </div> 
            </div>

            <div class="left_2-2"> 
                <div class="txt-group" >
                    <p class="marked-2">Residence:</p>
                     <p class="txt-2">BD</p>
                </div> 
            </div>

            <div class="left_2-3"> 
                <div class="txt-group" >
                    <p class="marked-3">Freelance:</p>
                     <p class="txt-3">Available</p>
                </div> 
            </div>

            <div class="left_2-4"> 
                <div class="txt-group" >
                    <p class="marked-4">Address:</p>
                     <p class="txt-4">South Korea</p>
                </div> 
            </div>
          </div>
          <div class="marginer"></div>
            
            <div class="left_3">
                <h1 class="left_3_header">Languages</h1>
                <div class="left_3-2">
                    <div class="left_3-lang">
                        <p>Uzbek</p>
                        <p>100%</p>
                    </div>
                    <img src="box_images/Line (1).svg" alt="">
                </div>
                <div class="left_3-2">
                    <div class="left_3-lang">
                        <p>Russian</p>
                        <p>80%</p>
                    </div>
                    <img src="box_images/Line (2).svg" alt="">
                </div>
                <div class="left_3-3">
                    <div class="left_3-lang">
                        <p>English</p>
                        <p>70%</p>
                    </div>
                    <img src="box_images/Line (3).svg" alt="">
                </div>
            </div>
          <div class="marginer-last"></div>

          <div class="left_4">
            <h1 class="left_4_header">Skills</h1>
                <div class="left_4-2">
                    <div class="left_4-lang">
                        <p>Html</p>
                        <p>90%</p>
                    </div>
                    <img  src="box_images/Line (4).svg"  alt="">
                </div>
                <div class="left_4-2">
                    <div class="left_4-lang">
                        <p>CSS</p>
                        <p>85%</p>
                    </div>
                    <img src="box_images/Line (5).svg" alt="">
                </div>
                <div class="left_4-3">
                    <div class="left_4-lang">
                        <p>Js</p>
                        <p>80%</p>
                    </div>
                    <img src="box_images/Line (6).svg" alt="">
                </div>

                <div class="left_4-4">
                    <div class="left_4-lang">
                        <p>PHP</p>
                        <p>75%</p>
                    </div>
                    <img src="box_images/Line (7).svg" alt="">
                </div>

                <div class="left_4-4">
                    <div class="left_4-lang">
                        <p>WordPress</p>
                        <p>85%</p>
                    </div>
                    <img src="box_images/Line (8).svg" alt="">
                </div>
          </div>
          <div class="marginer"></div>

          <div class="left_5">
            <h2 class="extra-skills-header">Extra Skills</h2>
            <div class="left_frame-5_skills">
                <img src="images/extra-skills-icon.svg" alt="#">
                <p>Bootstrap, Materialize</p>
            </div>
            <div class="left_frame-5_skills">
                <img src="images/extra-skills-icon.svg" alt="#">
                <p>Stylus, Sass, Less</p>
            </div>
            <div class="left_frame-5_skills">
                <img src="images/extra-skills-icon.svg" alt="#">
                <p>Gulp, Webpack, Grunt</p>
            </div>
            <div class="left_frame-5_skills">
                <img src="images/extra-skills-icon.svg" alt="#">
                <p>GIT Knowledge</p>
            </div>
          </div>
          <div class="marginer"></div>
        </div>
       


        <!-- Doctor neurologists in OHSU Hospital -->
        <div class="mid_frame"> 
        <div class="mid_page">
          <div class="page_frame_txt"> 
            <h1>Web Developer in IT Company</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</p>
             <div class="page_frame_btn">
            <button><a href="#">HIRE ME :) <img src="mid_frame/arrow.svg" alt=""></a></button>
            </div>
          </div>
          
          <div class="page_frame_img">
            <img src="mid_frame/mid_main.svg" alt="">
          </div>
         </div>
       
         <div class="mid_service">

            <div class="service_header"> 
              <h1>my services</h1>
              <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</p>
            </div>



            <div class="service_body">
              
            <div class="service_boxes_top">
                <div class="service_box">
                    <img src="mid_frame/web_dev.jpg" alt="">
                    <h1>web development</h1>
                    <p>blog, e-commerce</p>
                </div>

                <div class="service_box">
                    <img src="mid_frame/ui design.jpg" alt="">
                    <h1>uI/uX design</h1>
                    <p>Mobile app, website design</p>
                </div>

                <div class="service_box">
                    <img src="mid_frame/sound design.jpg" alt="">
                    <h1>sound design</h1>
                    <p>Voice Over, Beat Making</p>
                </div>
            </div>

             
            <div class="service_boxes_bottom">
                <div class="service_box">
                    <img src="mid_frame/game design.jpg" alt="">
                    <h1>game design</h1>
                    <p>Character Design, Props & Objects</p>
                </div>

                <div class="service_box">
                    <img src="mid_frame/photography.jpg" alt="">
                    <h1>photography</h1>
                    <p>portrait, product photography</p>
                </div>

                <div class="service_box">
                    <!-- <img src="" alt=""> -->
                    <h1>advertising</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </p>
                    <a class="service_link" href="">ORDER NOW ></a>
                </div>
                
            </div>





            </div>
        </div>

        </div>



        <!-- Right Frame -->
        <div class="right_frame">
            <img class="right_frame-img_contrast" src="right_frame_img/contrast_icon.svg" alt="#">
            <img class="right_frame-img_home" src="right_frame_img/menu-icon-1.svg" alt="#">
            <div class="right_frame-menu">
                <img src="right_frame_img/menu-icon-2.svg" alt="#">
                <img src="right_frame_img/menu-icon-3.svg" alt="#">
                <img src="right_frame_img/menu-icon-4.svg" alt="#">
                <img src="right_frame_img/menu-icon-5.svg" alt="#">
                <img src="right_frame_img/menu-icon-6.svg" alt="#">
            </div>
          </div>


     </div>
    



 </div>


</div>  
    
</body>


</html>