<!-- <div>HELLO WORLD YOU ARE IN AUTHORS!</div> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Portfolio</title>
</head>

<body>

    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_1-1">
                        <img src="images/profile.png"
                        width="156px"
                        height="142px"
                        alt=""
                        />
                    </div>
                    <div class="left_1-2"><%=user.name%></div>
                    <div class="left_1-3"><%=user.profession%></div>
                    <div class="left-icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/facebook.svg" class="icon-1" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/instagram.svg" class="icon-1" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/twitter.svg" class="icon-1" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/linkedin.svg" class="icon-1" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Youtube.svg" class="icon-1" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/dribbble.svg" class="icon-1">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_2">
                    <!-- <span class="test-class">Age:</span> -->
                    <!-- <span class="test-class">24</span><br> -->
                    <!-- <span class="test-class">Residence:</span>
                    <span class="test-class">BD</span><br>
                    <span class="test-class">Freelance:</span>
                    <span class="test-class">Available</span><br>
                    <span class="test-class">Address:</span>
                    <span class="test-class">Dhaka Bangladesh</span> -->

                    <div class="left-2-1"> 
                        <div class="txt-group" >
                            <p class="marked-1">Age:</p>
                            <p class="txt-1">24</p>
                        </div> 
                    </div>
        
                    <div class="left-2-1"> 
                        <div class="txt-group" >
                            <p class="marked-2">Residence:</p>
                            <p class="txt-2">BD</p>
                        </div> 
                    </div>
        
                    <div class="left-2-1"> 
                        <div class="txt-group" >
                            <p class="marked-3">Freelance:</p>
                            <p class="txt-3">Available</p>
                        </div> 
                    </div>
        
                    <div class="left-2-1"> 
                        <div class="txt-group" >
                            <p class="marked-4">Address:</p>
                            <p class="txt-4">Dhaka,Bangladesh</p>
                        </div> 
                    </div>
  

                </div>
                <div class="marginer"></div>
                <!-- <div class="left_3">
                    <div class="language-container">
                        <h5><strong>Languages</strong></h5>
                        <div class="language">
                            <div class="language-progress-bar">
                            <span class="language-name">Bangla</span>
                            <span class="percentage-label">100%</span>
                            </div>
                            <div class="progress-bar"><img src="images/Line.svg" alt=""></div>
                        </div>
                        <div class="language">
                            <span class="language-name">English</span>
                            <span class="percentage-label">80%</span>
                            <div class="progress-bar"></div>
                        </div>
                        <div class="language">
                            <span class="language-name">Spanish</span>
                            <span class="percentage-label">60%</span>
                            <div class="progress-bar"></div>
                        </div>
                    </div>
                </div> -->
                <div class="left-3">
                    <h1 class="left-3-header">Languages</h1>
                    <div class="left-3-2">
                        <div class="left-3-lang">
                            <p>Uzbek</p>
                            <p>100%</p>
                        </div>
                        <img src="/author/images/Line.svg" alt="">
                    </div>
                    <div class="left-3-2">
                        <div class="left-3-lang">
                            <p>Korean</p>
                            <p>70%</p>
                        </div>
                        <img src="/author/images/Line.svg" alt="">
                    </div>
                    <div class="left-3-3">
                        <div class="left-3-lang">
                            <p>English</p>
                            <p>80%</p>
                        </div>
                        <img src="/author/images/Line.svg" alt="">
                    </div>
                  </div>
  

                <div class="marginer"></div>
                <div class="left_4">
                    <div class="skill-container">
                        <h5><strong>Skills</strong></h5>
                        <div class="skill">
                            <div class="skill-progress-bar">
                            <span class="skill-type">HTML</span>
                            <span class="percentage-skill">90%</span>
                            </div>
                            <div class="progress-bar"><img src="images/Line.svg" alt=""></div>
                        </div>
                        <div class="skill">
                            <div class="skill-progress-bar">
                            <span class="skill-type">CSS</span>
                            <span class="percentage-skill">85%</span>
                            </div>
                            <div class="progress-bar"><img src="images/Line.svg" alt=""></div>
                        </div>
                        <div class="skill">
                            <div class="skill-progress-bar">
                            <span class="skill-type">JS</span>
                            <span class="percentage-skill">80%</span>
                            </div>
                            <div class="progress-bar"><img src="images/Line.svg" alt=""></div>
                        </div>
                        <div class="skill">
                            <div class="skill-progress-bar">
                            <span class="skill-type">PHP</span>
                            <span class="percentage-skill">75%</span>
                            </div>
                            <div class="progress-bar"><img src="images/Line.svg" alt=""></div>
                        </div>
                        <div class="skill">
                            <div class="skill-progress-bar">
                            <span class="skill-type">WordPress</span>
                            <span class="percentage-skill">85%</span>
                            </div>
                            <div class="progress-bar"><img src="images/Line.svg" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_5">
                        <h5><strong>Extra Skills</strong></h5>
                        <div class="extra_skill">
                            <img src="images/extra-skills-icon.svg" alt="">
                            <p>Bootstrap, Materialize</p>
                        </div>
                        <div class="extra_skill">
                            <img src="images/extra-skills-icon.svg" alt="">
                            <p>Styles, Sass, Less</p>
                        </div>
                        <div class="extra_skill">
                            <img src="images/extra-skills-icon.svg" alt="">
                            <p>Gulp, Webpack, Grunt</p>
                        </div>
                        <div class="extra_skill">
                            <img src="images/extra-skills-icon.svg" alt="">
                            <p>GIT Knowledge</p>
                        </div>
                </div>
                <div class="marginer"></div>
            </div> 

            <div class="mid_frame">
                <div class="mid_page">
                    <div class="page_frame_txt">
                        <h1>Doctor neurologists in OHSU Hospital </h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</p>
                        <div class="page_frame_btn">
                        <button><a href="#">HIRE ME</a></button>
                    </div>
                    
                    <div class="page_frame_img">
                        <img src="mid_frame/mid_main.svg" alt="">
                    </div>
                </div>
        
                

                <div class="mid_service">
                    <div class="service_header">
                        <h1>my services</h1>
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</p>
                    </div>
                
                
                    <div class="service_body">
                        <div class="service_box">
                            <img src="mid_frame/web.png" alt="">
                            <h1>web development</h1>
                            <div class="service-desc">blog, e-commerce</div>
                        </div>
                        <div class="service_box">
                            <img src="mid_frame/ui design.jpg" alt="">
                            <h1>uI/uX design</h1>
                            <div class="service-desc">Mobile app, website design</div>
                        </div>
                        <div class="service_box">
                            <img src="mid_frame/sound design.jpg" alt="">
                            <h1>sound design</h1>
                            <div class="service-desc">Voice Over, Beat Making</div>
                        </div>
                        <div class="service_box">
                            <img src="mid_frame/game design.jpg" alt="">
                            <h1>game design</h1>
                            <div class="service-desc">Character Design, Props & Objects</div>
                        </div>
                        <div class="service_box">
                            <img src="mid_frame/photography.jpg" alt="">
                            <h1>photography</h1>
                            <div class="service-desc">portrait, product photography</div>
                        </div>
                        <div class="service_box">
                            <!-- <img src="mid_frame/sound design.jpg" alt=""> -->
                            <h1>advertising</h1>
                            <div class="service-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </div>
                            <a class="service_link" href="#">ORDER NOW ></a>
                        </div>
                    </div>
                
                </div>
            </div>

            <div class="right_frame">
                <img class="right_frame_img_contrast" src="right_frame_img/contrast_icon.svg" alt="#">
                <img class="right_frame_img_home" src="right_frame_img/menu-icon-1.svg" alt="#">
                <div class="right_frame_menu">
                    <img src="right_frame_img/menu-icon-2.svg" alt="#">
                    <img src="right_frame_img/menu-icon-3.svg" alt="#">
                    <img src="right_frame_img/menu-icon-4.svg" alt="#">
                    <img src="right_frame_img/menu-icon-5.svg" alt="#">
                    <img src="right_frame_img/menu-icon-6.svg" alt="#">
                </div>
            </div>
        </div>
    </div>
</body>
</html>